In [1]:
import pandas as pd

In [22]:
df1 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/summary_25.csv', header=None)

In [24]:
df2 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/summary_26.csv', header=None)
df3 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/summary_27.csv', header=None)
df4 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/summary_28.csv', header=None)

In [8]:
combined = pd.concat([df1, df2, df3, df4])

/Users/mattmastin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [9]:
combined.shape

(11711, 5)

In [10]:
combined.head()

,"""The Story of the Stone (c. 1760)"", also known by the title of ""The Dream of the Red Chamber"", is the great novel of manners in Chinese literature. Divided into five volumes, of which ""The Warning Voice"" is the third, it charts the glory and decline of the illustrious Jia family (a story which closely accords with the fortunes of the author's own family). The two main characters, Bao-yu and Dai-yu, are set against a rich tapestry of humour, realistic detail and delicate poetry, which accurately reflects the ritualized hurly-burly of Chinese family life. But over and above the novel hangs the constant reminder that there is another plane of existence - a theme which affirms the Buddhist belief in a supernatural scheme of things.",0,"From the erotic imagination of bestselling author Susan Johnson comes a tale of surprising sensuality, sweeping from English sitting rooms to North African markets, from the horse races to the Scottish Highlands. Sinjin St. John, Duke of Seth, charming rogue and bedder of beautiful women, was sure nothing could surprise him. That is until he stepped into his carriage one evening and found it already occupied with the most delectable visitor imaginable.Chelsea Fergusson is a proper young lady with an indecent plan to get out of an unwanted marriage, and she needs an immoral rogue to help her do it. Sinjin looks like he might be the perfect man for the job, but will Chelsea's beauty and spirit leave him wanting something more for the very first time?C.C. Gibbs was born and lives in the USA. She is the author of over 40 romance and erotica novels, including the recent bestsellers Knight’s Mistress and Knight’s Game. Many of her novels were originally published under the name Susan Johnson. This book is intended for mature audiences.","Jason Dessen is walking home through the chilly Chicago streets one night, looking forward to a quiet evening in front of the fireplace with his wife, Daniela, and their son, Charlie—when his reality shatters.It starts with a man in a mask kidnapping him at gunpoint, for reasons Jason can’t begin to fathom—what would anyone want with an ordinary physics professor?—and grows even more terrifying from there, as Jason’s abductor injects him with some unknown drug and watches while he loses consciousness.When Jason awakes, he’s in a lab, strapped to a gurney—and a man he’s never seen before is cheerily telling him “welcome back!”Jason soon learns that in this world he’s woken up to, his house is not his house. His wife is not his wife. His son was never born.And someone is hunting him.",Ships from USA. Will take 25-35 days
0,NaN,1,NaN,از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...,NaN
1,NaN,2,NaN,از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...,NaN
2,NaN,3,NaN,From #1 New York Times bestselling author Bran...,NaN
3,NaN,4,NaN,"Pilgrim's husband left her for another woman, ...",NaN
4,NaN,5,NaN,Librarian's Note: For alternate cover edition ...,NaN

In [23]:
df1.head()

   0                                                  1
0  0  Jason Dessen is walking home through the chill...
1  1  از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...
2  2  از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...
3  3  From #1 New York Times bestselling author Bran...
4  4  Pilgrim's husband left her for another woman, ...

In [12]:
df2.head()

   0               Ships from USA. Will take 25-35 days
0  1               Ships from USA. Will take 25-35 days
1  2  A passionate portrait of love’s contradictory ...
2  3  "LeBlanc's coming-of-age tale about a nervous ...
3  4  Things That Are Destroying Jane Greene’s Undea...
4  5  With echoes of"The Night Circus," a spellbindi...

In [13]:
df3.head()

,0,"From the erotic imagination of bestselling author Susan Johnson comes a tale of surprising sensuality, sweeping from English sitting rooms to North African markets, from the horse races to the Scottish Highlands. Sinjin St. John, Duke of Seth, charming rogue and bedder of beautiful women, was sure nothing could surprise him. That is until he stepped into his carriage one evening and found it already occupied with the most delectable visitor imaginable.Chelsea Fergusson is a proper young lady with an indecent plan to get out of an unwanted marriage, and she needs an immoral rogue to help her do it. Sinjin looks like he might be the perfect man for the job, but will Chelsea's beauty and spirit leave him wanting something more for the very first time?C.C. Gibbs was born and lives in the USA. She is the author of over 40 romance and erotica novels, including the recent bestsellers Knight’s Mistress and Knight’s Game. Many of her novels were originally published under the name Susan Johnson. This book is intended for mature audiences."
0,1,يعرض صوراً واقعية مشرقة من حياة مجموعة من أعلا...
1,2,"When the Japanese bombed Pearl Harbour, the ti..."
2,3,Xavier Ireland is a radio DJ who by night list...
3,4,Xavier Ireland is a radio DJ who by night list...
4,5,"""Ülkemiz insanlara maddesel zenginlikler sunma..."

In [14]:
df4.head()

,0,"""The Story of the Stone (c. 1760)"", also known by the title of ""The Dream of the Red Chamber"", is the great novel of manners in Chinese literature. Divided into five volumes, of which ""The Warning Voice"" is the third, it charts the glory and decline of the illustrious Jia family (a story which closely accords with the fortunes of the author's own family). The two main characters, Bao-yu and Dai-yu, are set against a rich tapestry of humour, realistic detail and delicate poetry, which accurately reflects the ritualized hurly-burly of Chinese family life. But over and above the novel hangs the constant reminder that there is another plane of existence - a theme which affirms the Buddhist belief in a supernatural scheme of things."
0,1,"First Person, Last Straw is a collection of ps..."
1,2,From the New York Times bestselling author of ...
2,3,NaN
3,4,"[<span id=""freeText4352389845062846699"" style=..."
4,5,"In The Wives of Bath, Susan Swan penetrates th..."

In [15]:
combined = df1.append(df2)

/Users/mattmastin/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [16]:
combined.shape

(7631, 3)

In [17]:
combined.head()

,0,"Jason Dessen is walking home through the chilly Chicago streets one night, looking forward to a quiet evening in front of the fireplace with his wife, Daniela, and their son, Charlie—when his reality shatters.It starts with a man in a mask kidnapping him at gunpoint, for reasons Jason can’t begin to fathom—what would anyone want with an ordinary physics professor?—and grows even more terrifying from there, as Jason’s abductor injects him with some unknown drug and watches while he loses consciousness.When Jason awakes, he’s in a lab, strapped to a gurney—and a man he’s never seen before is cheerily telling him “welcome back!”Jason soon learns that in this world he’s woken up to, his house is not his house. His wife is not his wife. His son was never born.And someone is hunting him.",Ships from USA. Will take 25-35 days
0,1,از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...,NaN
1,2,از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...,NaN
2,3,From #1 New York Times bestselling author Bran...,NaN
3,4,"Pilgrim's husband left her for another woman, ...",NaN
4,5,Librarian's Note: For alternate cover edition ...,NaN

In [25]:
combined = pd.concat([df1, df2, df3, df4], ignore_index=True, sort=False)

In [26]:
combined.shape

(11715, 2)

In [27]:
combined.head()

   0                                                  1
0  0  Jason Dessen is walking home through the chill...
1  1  از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...
2  2  از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...
3  3  From #1 New York Times bestselling author Bran...
4  4  Pilgrim's husband left her for another woman, ...

In [28]:
combined.to_csv('best_books_summary_20k_30k.csv', index=False)

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/summary_31.csv')

In [6]:
print(df.shape)
df.head()

(2500, 3)

,Unnamed: 0,book_title,description
0,0,Dark Matter,Jason Dessen is walking home through the chill...
1,1,مثنوی معنوی جلد دوم: بر اساس نسخه قونیه,از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...
2,2,The Way of Kings,From #1 New York Times bestselling author Bran...
3,3,The Gloaming,"Pilgrim's husband left her for another woman, ..."
4,4,Small Gods,Librarian's Note: For alternate cover edition ...

In [7]:
df2 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/summary_32.csv')
df3 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/summary_33.csv')
df4 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/summary_34.csv')

In [8]:
combined2 = pd.concat([df, df2, df3, df4], ignore_index=True, sort=False)

In [9]:
combined2.shape

(10001, 3)

In [10]:
combined2.head()

,Unnamed: 0,book_title,description
0,0,Dark Matter,Jason Dessen is walking home through the chill...
1,1,مثنوی معنوی جلد دوم: بر اساس نسخه قونیه,از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...
2,2,The Way of Kings,From #1 New York Times bestselling author Bran...
3,3,The Gloaming,"Pilgrim's husband left her for another woman, ..."
4,4,Small Gods,Librarian's Note: For alternate cover edition ...

In [11]:
combined2.to_csv('best_books_title_and_description_20k_30k.csv', index=False)

In [12]:
combined3 = pd.concat([df, df2, df3, df4])

In [13]:
combined3.shape

(10001, 3)

In [14]:
combined3.head()

,Unnamed: 0,book_title,description
0,0,Dark Matter,Jason Dessen is walking home through the chill...
1,1,مثنوی معنوی جلد دوم: بر اساس نسخه قونیه,از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...
2,2,The Way of Kings,From #1 New York Times bestselling author Bran...
3,3,The Gloaming,"Pilgrim's husband left her for another woman, ..."
4,4,Small Gods,Librarian's Note: For alternate cover edition ...

In [15]:
combined3.to_csv('books_title_and_description_20k_30k.csv')

In [16]:
df = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/more_detail_genre1.csv')

In [34]:
df2 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/more_detail_genre2.csv')
df3 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/more_detail_genre6.csv')
df4 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/more_detail_genre4.csv')
df5 = pd.read_csv('/Users/mattmastin/Desktop/summary_scrapper/more_detail_genre5.csv')

In [35]:
print(df.shape)
df.head()

(2000, 9)

,Unnamed: 0,Original Title,ISBN,Edition Language,Series,Characters,setting,Literary Awards,Genre
0,0,Dark Matter,NaN,English,NaN,"Jason Dessen, Daniela Vargas Dessen, Amanda Lu...","Chicago, Illinois (United States) Illinois (U...",Goodreads Choice Award Nominee for Science Fic...,"['Science Fiction', 'Fiction', 'Thriller', 'My..."
1,1,"The Mathnawi of Jalalu'ddin Rumi, Volume II",NaN,Persian,Masnavi Manavi #2,NaN,NaN,NaN,"['Poetry', 'Philosophy', 'Classics', 'Literatu..."
2,2,The Way of Kings,NaN,English,"The Stormlight Archive #1, The Cosmere","Kaladin Stormblessed, Dalinar Kholin, Shallan ...",Roshar,Locus Award Nominee for Best Fantasy Novel (20...,"['Fantasy', 'Fiction', 'Fantasy', 'Epic Fantas..."
3,3,NaN,1937512479 (ISBN13: 9781937512477),English,NaN,NaN,NaN,NaN,"['Fiction', 'Cultural', 'Africa', 'Novels', 'C..."
4,4,Small Gods,0061092177 (ISBN13: 9780061092176),English,Discworld #13,"The Librarian, Great God Om, Brutha, Exquisito...",Discworld Omnia Ephebe,NaN,"['Fiction', 'Humor', 'Fantasy', 'Humor', 'Come..."

In [36]:
combined4 = pd.concat([df, df2, df3, df4, df5])

In [37]:
print(combined4.shape)
combined4.head()

(10001, 9)

,Unnamed: 0,Original Title,ISBN,Edition Language,Series,Characters,setting,Literary Awards,Genre
0,0,Dark Matter,NaN,English,NaN,"Jason Dessen, Daniela Vargas Dessen, Amanda Lu...","Chicago, Illinois (United States) Illinois (U...",Goodreads Choice Award Nominee for Science Fic...,"['Science Fiction', 'Fiction', 'Thriller', 'My..."
1,1,"The Mathnawi of Jalalu'ddin Rumi, Volume II",NaN,Persian,Masnavi Manavi #2,NaN,NaN,NaN,"['Poetry', 'Philosophy', 'Classics', 'Literatu..."
2,2,The Way of Kings,NaN,English,"The Stormlight Archive #1, The Cosmere","Kaladin Stormblessed, Dalinar Kholin, Shallan ...",Roshar,Locus Award Nominee for Best Fantasy Novel (20...,"['Fantasy', 'Fiction', 'Fantasy', 'Epic Fantas..."
3,3,NaN,1937512479 (ISBN13: 9781937512477),English,NaN,NaN,NaN,NaN,"['Fiction', 'Cultural', 'Africa', 'Novels', 'C..."
4,4,Small Gods,0061092177 (ISBN13: 9780061092176),English,Discworld #13,"The Librarian, Great God Om, Brutha, Exquisito...",Discworld Omnia Ephebe,NaN,"['Fiction', 'Humor', 'Fantasy', 'Humor', 'Come..."

In [39]:
combined4.to_csv('more_detail_genre_20k_30k_v2.csv')

In [54]:
dustin2 = pd.read_csv('/Users/mattmastin/Desktop/more_detail and genres 0k to 10k.csv')

In [55]:
dustin2.shape

(10000, 10)

In [56]:
dustin2.isnull().sum()

Unnamed: 0             0
Unnamed: 0.1           0
Original Title       994
ISBN                1272
Edition Language     249
Series              4699
Characters          4317
setting             5576
Literary Awards     6044
Genre                  0
dtype: int64

In [24]:
dustin.head()

,Unnamed: 0,Unnamed: 0.1,Original Title,ISBN,Edition Language,Series,Characters,setting,Literary Awards,Genre
0,0,0,The Hunger Games,0439023483 (ISBN13: 9780439023481),English,The Hunger Games #1,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12, Panem Capitol, Panem Panem (Unite...",Locus Award Nominee for Best Young Adult Book ...,"['Young Adult', 'Fiction', 'Science Fiction', ..."
1,1,1,Harry Potter and the Order of the Phoenix,0439358078 (ISBN13: 9780439358071),English,Harry Potter #5,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...",Hogwarts School of Witchcraft and Wizardry (Un...,Bram Stoker Award for Works for Young Readers ...,"['Fantasy', 'Young Adult', 'Fiction']"
2,2,2,To Kill a Mockingbird,NaN,English,To Kill a Mockingbird #1,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...","Maycomb, Alabama, 1933 (United States) Alabam...","Pulitzer Prize for Fiction (1961), Audie Award...","['Classics', 'Fiction', 'Historical', 'Histori..."
3,3,3,Pride and Prejudice,NaN,English,NaN,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","England Hertfordshire, England Derbyshire, Eng...",NaN,"['Classics', 'Fiction', 'Romance']"
4,4,4,Twilight,0316015849 (ISBN13: 9780316015844),English,Twilight #1,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks, Washington (United States) Phoenix, Ar...","Georgia Peach Book Award (2007), Buxtehuder Bu...","['Young Adult', 'Fantasy', 'Romance', 'Paranor..."

In [25]:
df.shape

(2000, 9)

In [26]:
df2.shape

(2000, 9)

In [27]:
df3.shape

(1633, 9)

In [28]:
df4.shape

(2000, 9)

In [29]:
df5.shape

(2001, 9)

In [44]:
combined4.isnull().sum()

Unnamed: 0             0
Original Title      2958
ISBN                3084
Edition Language     966
Series              6278
Characters          7529
setting             7849
Literary Awards     7753
Genre                  0
dtype: int64

In [45]:
combined3.isnull().sum()

Unnamed: 0       0
book_title       0
description    292
dtype: int64

In [46]:
pythoncheck = pd.read_csv('/Users/mattmastin/Desktop/books_title_and_description_20k_30k.csv')

In [47]:
print(pythoncheck.shape)
pythoncheck.head()

(10001, 4)

,Unnamed: 0,Unnamed: 0.1,book_title,description
0,0,0,Dark Matter,Jason Dessen is walking home through the chill...
1,1,1,مثنوی معنوی جلد دوم: بر اساس نسخه قونیه,از صفحه 543 تا 1113 شامل مجلد دوم شامل جلدهای ...
2,2,2,The Way of Kings,From #1 New York Times bestselling author Bran...
3,3,3,The Gloaming,"Pilgrim's husband left her for another woman, ..."
4,4,4,Small Gods,Librarian's Note: For alternate cover edition ...

In [50]:
dustin = pd.read_csv('/Users/mattmastin/Desktop/best_book_ever_3.csv')

In [51]:
dustin.shape

(30000, 9)

In [52]:
dustin.tail()

,Unnamed: 0,id,book_title,author,ratings,href,description,avg_rating,all_ratings
29995,29995,6795627,"Second Chances (Fabulous Four, #1)",Christina Corlett,did not like it 1.00 avg rating — 1 rating,/book/show/6795627-second-chances,When Brianna Amoretti catches her husband of a...,1.00,1
29996,29996,499784,Somebody's Someone: A Memoir,Regina Louise (Goodreads Author),3.96 avg rating — 234 ratings,/book/show/499784.Somebody_s_Someone,What happens to a child when her own parents r...,3.96,234
29997,29997,181116,"Monday Mourning (Temperance Brennan, #7)",Kathy Reichs (Goodreads Author),"4.03 avg rating — 27,879 ratings",/book/show/181116.Monday_Mourning,The secrets of the dead are in her hands. The...,4.03,"27,879"
29998,29998,2616682,Forest Wars,Graham Diamond (Goodreads Author),3.59 avg rating — 22 ratings,/book/show/2616682-forest-wars,Midwest Book Review said: Don't expect pure fa...,3.59,22
29999,29999,72695,About Time: 12 Short Stories,Jack Finney,"4.06 avg rating — 1,254 ratings",/book/show/72695.About_Time,About Time offers a delightful return to the w...,4.06,"1,254"

In [53]:
dustin.isnull().sum()

Unnamed: 0       0
id               0
book_title       0
author           0
ratings          0
href             0
description    514
avg_rating       0
all_ratings      0
dtype: int64

In [58]:
will1 = pd.read_csv('/Users/mattmastin/Desktop/details10-20/more_detail_genre10k-12k.csv')
will2 = pd.read_csv('/Users/mattmastin/Desktop/details10-20/more_detail_genre12k-14k.csv')
will3 = pd.read_csv('/Users/mattmastin/Desktop/details10-20/more_detail_genre14k-16k.csv')
will4 = pd.read_csv('/Users/mattmastin/Desktop/details10-20/more_detail_genre16k-18k.csv')
will5 = pd.read_csv('/Users/mattmastin/Desktop/details10-20/more_detail_genre18k-20k.csv')

In [59]:
willcomb = pd.concat([will1, will2, will3, will4, will5, ])

In [60]:
willcomb.shape

(10000, 9)

In [95]:
more_detail_genre_30k = pd.concat([dustin2, willcomb, combined4], sort=False)

In [86]:
more_detail_genre_30k.shape

(30001, 10)

In [78]:
more_detail_genre_30k.head()

,Unnamed: 0,Unnamed: 0.1,Original Title,ISBN,Edition Language,Series,Characters,setting,Literary Awards,Genre
0,0,0.0,The Hunger Games,0439023483 (ISBN13: 9780439023481),English,The Hunger Games #1,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12, Panem Capitol, Panem Panem (Unite...",Locus Award Nominee for Best Young Adult Book ...,"['Young Adult', 'Fiction', 'Science Fiction', ..."
1,1,1.0,Harry Potter and the Order of the Phoenix,0439358078 (ISBN13: 9780439358071),English,Harry Potter #5,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...",Hogwarts School of Witchcraft and Wizardry (Un...,Bram Stoker Award for Works for Young Readers ...,"['Fantasy', 'Young Adult', 'Fiction']"
2,2,2.0,To Kill a Mockingbird,NaN,English,To Kill a Mockingbird #1,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...","Maycomb, Alabama, 1933 (United States) Alabam...","Pulitzer Prize for Fiction (1961), Audie Award...","['Classics', 'Fiction', 'Historical', 'Histori..."
3,3,3.0,Pride and Prejudice,NaN,English,NaN,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","England Hertfordshire, England Derbyshire, Eng...",NaN,"['Classics', 'Fiction', 'Romance']"
4,4,4.0,Twilight,0316015849 (ISBN13: 9780316015844),English,Twilight #1,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks, Washington (United States) Phoenix, Ar...","Georgia Peach Book Award (2007), Buxtehuder Bu...","['Young Adult', 'Fantasy', 'Romance', 'Paranor..."

In [79]:
more_detail_genre_30k.tail()

,Unnamed: 0,Unnamed: 0.1,Original Title,ISBN,Edition Language,Series,Characters,setting,Literary Awards,Genre
1996,1996,NaN,Somebody's Someone: A Memoir,0446529109 (ISBN13: 9780446529105),English,NaN,NaN,NaN,Hurston/Wright Legacy Award Nominee for Nonfic...,"['Nonfiction', 'Autobiography', 'Memoir', 'Bio..."
1997,1997,NaN,Monday Mourning,0743453018 (ISBN13: 9780743453011),English,Temperance Brennan #7,"Temperance Brennan, Andrew Ryan, Luc Claudel","Montreal, Quebec (Montréal, Québec) (Canada)",NaN,"['Mystery', 'Mystery', 'Crime', 'Fiction', 'Th..."
1998,1998,NaN,Forest Wars,1419675672 (ISBN13: 9781419675676),English,NaN,NaN,NaN,NaN,[]
1999,1999,NaN,About Time: 12 Short Stories,068484866X (ISBN13: 9780684848662),English,NaN,NaN,NaN,NaN,"['Science Fiction', 'Time Travel', 'Short Stor..."
2000,2000,NaN,Burying The Shadow,1892065452 (ISBN13: 9781892065452),English,NaN,NaN,NaN,NaN,"['Fantasy', 'Paranormal', 'Vampires', 'Science..."

In [96]:
more_detail_genre_30k = more_detail_genre_30k[['Original Title', 'ISBN',
                                             'Edition Language', 'Series', 'Characters', 
                                             'setting', 'Literary Awards', 'Genre']]

In [74]:
# more_detail_genre_30k.drop(df.tail(1).index, inplace=True)

In [75]:
more_detail_genre_30k.shape

(29990, 8)

In [97]:
more_detail_genre_30k = more_detail_genre_30k[:-1]

In [98]:
more_detail_genre_30k.shape

(30000, 8)

In [90]:
more_detail_genre_30k.head()

,Original Title,ISBN,Edition Language,Series,Characters,setting,Literary Awards,Genre
0,The Hunger Games,0439023483 (ISBN13: 9780439023481),English,The Hunger Games #1,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12, Panem Capitol, Panem Panem (Unite...",Locus Award Nominee for Best Young Adult Book ...,"['Young Adult', 'Fiction', 'Science Fiction', ..."
1,Harry Potter and the Order of the Phoenix,0439358078 (ISBN13: 9780439358071),English,Harry Potter #5,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...",Hogwarts School of Witchcraft and Wizardry (Un...,Bram Stoker Award for Works for Young Readers ...,"['Fantasy', 'Young Adult', 'Fiction']"
2,To Kill a Mockingbird,NaN,English,To Kill a Mockingbird #1,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...","Maycomb, Alabama, 1933 (United States) Alabam...","Pulitzer Prize for Fiction (1961), Audie Award...","['Classics', 'Fiction', 'Historical', 'Histori..."
3,Pride and Prejudice,NaN,English,NaN,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","England Hertfordshire, England Derbyshire, Eng...",NaN,"['Classics', 'Fiction', 'Romance']"
4,Twilight,0316015849 (ISBN13: 9780316015844),English,Twilight #1,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks, Washington (United States) Phoenix, Ar...","Georgia Peach Book Award (2007), Buxtehuder Bu...","['Young Adult', 'Fantasy', 'Romance', 'Paranor..."

In [91]:
more_detail_genre_30k.isnull().sum()

Original Title       6430
ISBN                 6544
Edition Language     1813
Series              16614
Characters          18872
setting             20984
Literary Awards     21362
Genre                   0
dtype: int64

In [99]:
import numpy as np
more_detail_genre_30k['Literary Awards'] = more_detail_genre_30k['Literary Awards'] != np.nan

In [100]:
more_detail_genre_30k.head()

,Original Title,ISBN,Edition Language,Series,Characters,setting,Literary Awards,Genre
0,The Hunger Games,0439023483 (ISBN13: 9780439023481),English,The Hunger Games #1,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12, Panem Capitol, Panem Panem (Unite...",True,"['Young Adult', 'Fiction', 'Science Fiction', ..."
1,Harry Potter and the Order of the Phoenix,0439358078 (ISBN13: 9780439358071),English,Harry Potter #5,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...",Hogwarts School of Witchcraft and Wizardry (Un...,True,"['Fantasy', 'Young Adult', 'Fiction']"
2,To Kill a Mockingbird,NaN,English,To Kill a Mockingbird #1,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...","Maycomb, Alabama, 1933 (United States) Alabam...",True,"['Classics', 'Fiction', 'Historical', 'Histori..."
3,Pride and Prejudice,NaN,English,NaN,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","England Hertfordshire, England Derbyshire, Eng...",True,"['Classics', 'Fiction', 'Romance']"
4,Twilight,0316015849 (ISBN13: 9780316015844),English,Twilight #1,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks, Washington (United States) Phoenix, Ar...",True,"['Young Adult', 'Fantasy', 'Romance', 'Paranor..."

In [101]:
more_detail_genre_30k.isnull().sum()

Original Title       6430
ISBN                 6544
Edition Language     1813
Series              16614
Characters          18872
setting             20984
Literary Awards         0
Genre                   0
dtype: int64

In [102]:
more_detail_genre_30k.to_csv('more_detail_genre_full_30k.csv', index=False)

In [103]:
more_detail_genre_30k['Genre'].describe()

count     30000
unique    17427
top          []
freq       2241
Name: Genre, dtype: object

In [105]:
more_detail_genre_30k['Genre'].str.replace('[', '')

0       'Young Adult', 'Fiction', 'Science Fiction', '...
1                    'Fantasy', 'Young Adult', 'Fiction']
2       'Classics', 'Fiction', 'Historical', 'Historic...
3                       'Classics', 'Fiction', 'Romance']
4       'Young Adult', 'Fantasy', 'Romance', 'Paranorm...
5       'Historical', 'Historical Fiction', 'Fiction',...
6       'Classics', 'Fiction', 'Science Fiction', 'Dys...
7       'Fantasy', 'Classics', 'Fiction', 'Young Adult...
8                       'Fantasy', 'Fiction', 'Classics']
9       'Classics', 'Historical', 'Historical Fiction'...
10      'Young Adult', 'Fiction', 'Romance', 'Contempo...
11      'Childrens', 'Childrens', 'Picture Books', 'Cl...
12            'Classics', 'Fiction', 'Romance', 'Gothic']
13      'Fiction', 'Mystery', 'Thriller', 'Suspense', ...
14      'Fiction', 'Historical', 'Historical Fiction',...
15         'Classics', 'Fantasy', 'Fiction', 'Childrens']
16            'Classics', 'Fiction', 'Horror', 'Fantasy']
17      'Classics', 'Fiction', 'Historical', 'Historic...
18      'Classics', 'Fiction', 'Romance', 'Historical'...
19      'Young Adult', 'Science Fiction', 'Dystopia', ...
20      'Classics', 'Plays', 'Fiction', 'Romance', 'Ac...
21      'Classics', 'Fiction', 'Young Adult', 'Academi...
22        'Fiction', 'Classics', 'Fantasy', 'Philosophy']
23      'Classics', 'Fiction', 'Cultural', 'Russia', '...
24              'Young Adult', 'Fiction', 'Contemporary']
25      'Science Fiction', 'Fiction', 'Young Adult', '...
26      'Fantasy', 'Young Adult', 'Fantasy', 'Paranorm...
27      'Classics', 'Fiction', 'Academic', 'School', '...
28      'Fiction', 'Historical', 'Historical Fiction',...
29      'Classics', 'Fiction', 'Young Adult', 'Childre...
                              ...
1970    'Fiction', 'Historical', 'Historical Fiction',...
1971    'Crime', 'True Crime', 'History', 'Mystery', '...
1972    'Romance', 'Historical Romance', 'Romance', 'H...
1973    'Womens Fiction', 'Chick Lit', 'Asian Literatu...
1974    'Fiction', 'Literature', 'Russian Literature',...
1975    'Fantasy', 'Romance', 'M M Romance', 'Romance'...
1976    'Fantasy', 'Young Adult', 'Paranormal', 'Witch...
1977          'Fiction', 'Cultural', 'Canada', 'Romance']
1978    'Fiction', 'Historical', 'Historical Fiction',...
1979    'Young Adult', 'Music', 'Fiction', 'Contempora...
1980    'Fiction', 'Historical', 'Historical Fiction',...
1981    'Womens Fiction', 'Chick Lit', 'Romance', 'Rom...
1982    'Paranormal', 'Vampires', 'Young Adult', 'Fant...
1983    'Fantasy', 'Young Adult', 'Fiction', 'Adventur...
1984    'Humor', 'Nonfiction', 'Humor', 'Funny', 'Chil...
1985    'Humor', 'Sequential Art', 'Comics', 'Sequenti...
1986    'Fiction', 'Cultural', 'African American', 'Wo...
1987    'Science', 'Environment', 'Textbooks', 'Academ...
1988    'Design', 'Architecture', 'Nonfiction', 'Philo...
1989    'Horror', 'Young Adult', 'Fantasy', 'Supernatu...
1990    'Nonfiction', 'Cultural', 'Latin American', 'L...
1991    'Adult Fiction', 'Erotica', 'Paranormal', 'Vam...
1992    'Religion', 'Christianity', 'Lds', 'Religion',...
1993    'Fiction', 'Humor', 'Classics', 'Humor', 'Come...
1994             'Nonfiction', 'Autobiography', 'Memoir']
1995                                                    ]
1996    'Nonfiction', 'Autobiography', 'Memoir', 'Biog...
1997    'Mystery', 'Mystery', 'Crime', 'Fiction', 'Thr...
1998                                                    ]
1999    'Science Fiction', 'Time Travel', 'Short Stori...
Name: Genre, Length: 30000, dtype: object

In [106]:
more_detail_genre_30k['Genre'].str.replace(']', '')

0       ['Young Adult', 'Fiction', 'Science Fiction', ...
1                    ['Fantasy', 'Young Adult', 'Fiction'
2       ['Classics', 'Fiction', 'Historical', 'Histori...
3                       ['Classics', 'Fiction', 'Romance'
4       ['Young Adult', 'Fantasy', 'Romance', 'Paranor...
5       ['Historical', 'Historical Fiction', 'Fiction'...
6       ['Classics', 'Fiction', 'Science Fiction', 'Dy...
7       ['Fantasy', 'Classics', 'Fiction', 'Young Adul...
8                       ['Fantasy', 'Fiction', 'Classics'
9       ['Classics', 'Historical', 'Historical Fiction...
10      ['Young Adult', 'Fiction', 'Romance', 'Contemp...
11      ['Childrens', 'Childrens', 'Picture Books', 'C...
12            ['Classics', 'Fiction', 'Romance', 'Gothic'
13      ['Fiction', 'Mystery', 'Thriller', 'Suspense',...
14      ['Fiction', 'Historical', 'Historical Fiction'...
15         ['Classics', 'Fantasy', 'Fiction', 'Childrens'
16            ['Classics', 'Fiction', 'Horror', 'Fantasy'
17      ['Classics', 'Fiction', 'Historical', 'Histori...
18      ['Classics', 'Fiction', 'Romance', 'Historical...
19      ['Young Adult', 'Science Fiction', 'Dystopia',...
20      ['Classics', 'Plays', 'Fiction', 'Romance', 'A...
21      ['Classics', 'Fiction', 'Young Adult', 'Academ...
22        ['Fiction', 'Classics', 'Fantasy', 'Philosophy'
23      ['Classics', 'Fiction', 'Cultural', 'Russia', ...
24              ['Young Adult', 'Fiction', 'Contemporary'
25      ['Science Fiction', 'Fiction', 'Young Adult', ...
26      ['Fantasy', 'Young Adult', 'Fantasy', 'Paranor...
27      ['Classics', 'Fiction', 'Academic', 'School', ...
28      ['Fiction', 'Historical', 'Historical Fiction'...
29      ['Classics', 'Fiction', 'Young Adult', 'Childr...
                              ...
1970    ['Fiction', 'Historical', 'Historical Fiction'...
1971    ['Crime', 'True Crime', 'History', 'Mystery', ...
1972    ['Romance', 'Historical Romance', 'Romance', '...
1973    ['Womens Fiction', 'Chick Lit', 'Asian Literat...
1974    ['Fiction', 'Literature', 'Russian Literature'...
1975    ['Fantasy', 'Romance', 'M M Romance', 'Romance...
1976    ['Fantasy', 'Young Adult', 'Paranormal', 'Witc...
1977          ['Fiction', 'Cultural', 'Canada', 'Romance'
1978    ['Fiction', 'Historical', 'Historical Fiction'...
1979    ['Young Adult', 'Music', 'Fiction', 'Contempor...
1980    ['Fiction', 'Historical', 'Historical Fiction'...
1981    ['Womens Fiction', 'Chick Lit', 'Romance', 'Ro...
1982    ['Paranormal', 'Vampires', 'Young Adult', 'Fan...
1983    ['Fantasy', 'Young Adult', 'Fiction', 'Adventu...
1984    ['Humor', 'Nonfiction', 'Humor', 'Funny', 'Chi...
1985    ['Humor', 'Sequential Art', 'Comics', 'Sequent...
1986    ['Fiction', 'Cultural', 'African American', 'W...
1987    ['Science', 'Environment', 'Textbooks', 'Acade...
1988    ['Design', 'Architecture', 'Nonfiction', 'Phil...
1989    ['Horror', 'Young Adult', 'Fantasy', 'Supernat...
1990    ['Nonfiction', 'Cultural', 'Latin American', '...
1991    ['Adult Fiction', 'Erotica', 'Paranormal', 'Va...
1992    ['Religion', 'Christianity', 'Lds', 'Religion'...
1993    ['Fiction', 'Humor', 'Classics', 'Humor', 'Com...
1994             ['Nonfiction', 'Autobiography', 'Memoir'
1995                                                    [
1996    ['Nonfiction', 'Autobiography', 'Memoir', 'Bio...
1997    ['Mystery', 'Mystery', 'Crime', 'Fiction', 'Th...
1998                                                    [
1999    ['Science Fiction', 'Time Travel', 'Short Stor...
Name: Genre, Length: 30000, dtype: object

In [107]:
more_detail_genre_30k['Genre'].str.replace("''", '')

0       ['Young Adult', 'Fiction', 'Science Fiction', ...
1                   ['Fantasy', 'Young Adult', 'Fiction']
2       ['Classics', 'Fiction', 'Historical', 'Histori...
3                      ['Classics', 'Fiction', 'Romance']
4       ['Young Adult', 'Fantasy', 'Romance', 'Paranor...
5       ['Historical', 'Historical Fiction', 'Fiction'...
6       ['Classics', 'Fiction', 'Science Fiction', 'Dy...
7       ['Fantasy', 'Classics', 'Fiction', 'Young Adul...
8                      ['Fantasy', 'Fiction', 'Classics']
9       ['Classics', 'Historical', 'Historical Fiction...
10      ['Young Adult', 'Fiction', 'Romance', 'Contemp...
11      ['Childrens', 'Childrens', 'Picture Books', 'C...
12           ['Classics', 'Fiction', 'Romance', 'Gothic']
13      ['Fiction', 'Mystery', 'Thriller', 'Suspense',...
14      ['Fiction', 'Historical', 'Historical Fiction'...
15        ['Classics', 'Fantasy', 'Fiction', 'Childrens']
16           ['Classics', 'Fiction', 'Horror', 'Fantasy']
17      ['Classics', 'Fiction', 'Historical', 'Histori...
18      ['Classics', 'Fiction', 'Romance', 'Historical...
19      ['Young Adult', 'Science Fiction', 'Dystopia',...
20      ['Classics', 'Plays', 'Fiction', 'Romance', 'A...
21      ['Classics', 'Fiction', 'Young Adult', 'Academ...
22       ['Fiction', 'Classics', 'Fantasy', 'Philosophy']
23      ['Classics', 'Fiction', 'Cultural', 'Russia', ...
24             ['Young Adult', 'Fiction', 'Contemporary']
25      ['Science Fiction', 'Fiction', 'Young Adult', ...
26      ['Fantasy', 'Young Adult', 'Fantasy', 'Paranor...
27      ['Classics', 'Fiction', 'Academic', 'School', ...
28      ['Fiction', 'Historical', 'Historical Fiction'...
29      ['Classics', 'Fiction', 'Young Adult', 'Childr...
                              ...
1970    ['Fiction', 'Historical', 'Historical Fiction'...
1971    ['Crime', 'True Crime', 'History', 'Mystery', ...
1972    ['Romance', 'Historical Romance', 'Romance', '...
1973    ['Womens Fiction', 'Chick Lit', 'Asian Literat...
1974    ['Fiction', 'Literature', 'Russian Literature'...
1975    ['Fantasy', 'Romance', 'M M Romance', 'Romance...
1976    ['Fantasy', 'Young Adult', 'Paranormal', 'Witc...
1977         ['Fiction', 'Cultural', 'Canada', 'Romance']
1978    ['Fiction', 'Historical', 'Historical Fiction'...
1979    ['Young Adult', 'Music', 'Fiction', 'Contempor...
1980    ['Fiction', 'Historical', 'Historical Fiction'...
1981    ['Womens Fiction', 'Chick Lit', 'Romance', 'Ro...
1982    ['Paranormal', 'Vampires', 'Young Adult', 'Fan...
1983    ['Fantasy', 'Young Adult', 'Fiction', 'Adventu...
1984    ['Humor', 'Nonfiction', 'Humor', 'Funny', 'Chi...
1985    ['Humor', 'Sequential Art', 'Comics', 'Sequent...
1986    ['Fiction', 'Cultural', 'African American', 'W...
1987    ['Science', 'Environment', 'Textbooks', 'Acade...
1988    ['Design', 'Architecture', 'Nonfiction', 'Phil...
1989    ['Horror', 'Young Adult', 'Fantasy', 'Supernat...
1990    ['Nonfiction', 'Cultural', 'Latin American', '...
1991    ['Adult Fiction', 'Erotica', 'Paranormal', 'Va...
1992    ['Religion', 'Christianity', 'Lds', 'Religion'...
1993    ['Fiction', 'Humor', 'Classics', 'Humor', 'Com...
1994            ['Nonfiction', 'Autobiography', 'Memoir']
1995                                                   []
1996    ['Nonfiction', 'Autobiography', 'Memoir', 'Bio...
1997    ['Mystery', 'Mystery', 'Crime', 'Fiction', 'Th...
1998                                                   []
1999    ['Science Fiction', 'Time Travel', 'Short Stor...
Name: Genre, Length: 30000, dtype: object

In [108]:
more_detail_genre_30k.head()

,Original Title,ISBN,Edition Language,Series,Characters,setting,Literary Awards,Genre
0,The Hunger Games,0439023483 (ISBN13: 9780439023481),English,The Hunger Games #1,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12, Panem Capitol, Panem Panem (Unite...",True,"['Young Adult', 'Fiction', 'Science Fiction', ..."
1,Harry Potter and the Order of the Phoenix,0439358078 (ISBN13: 9780439358071),English,Harry Potter #5,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...",Hogwarts School of Witchcraft and Wizardry (Un...,True,"['Fantasy', 'Young Adult', 'Fiction']"
2,To Kill a Mockingbird,NaN,English,To Kill a Mockingbird #1,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...","Maycomb, Alabama, 1933 (United States) Alabam...",True,"['Classics', 'Fiction', 'Historical', 'Histori..."
3,Pride and Prejudice,NaN,English,NaN,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","England Hertfordshire, England Derbyshire, Eng...",True,"['Classics', 'Fiction', 'Romance']"
4,Twilight,0316015849 (ISBN13: 9780316015844),English,Twilight #1,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks, Washington (United States) Phoenix, Ar...",True,"['Young Adult', 'Fantasy', 'Romance', 'Paranor..."

In [109]:
more_detail_genre_30k['Edition Language'].describe()

count       28187
unique         70
top       English
freq        24489
Name: Edition Language, dtype: object

In [111]:
detail_genre_check = pd.read_csv('/Users/mattmastin/Desktop/Better Books/more_detail_genre_full_30k.csv')

In [112]:
print(detail_genre_check.shape)
detail_genre_check.head()

(30000, 8)

,Original Title,ISBN,Edition Language,Series,Characters,setting,Literary Awards,Genre
0,The Hunger Games,0439023483 (ISBN13: 9780439023481),English,The Hunger Games #1,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12, Panem Capitol, Panem Panem (Unite...",True,"['Young Adult', 'Fiction', 'Science Fiction', ..."
1,Harry Potter and the Order of the Phoenix,0439358078 (ISBN13: 9780439358071),English,Harry Potter #5,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...",Hogwarts School of Witchcraft and Wizardry (Un...,True,"['Fantasy', 'Young Adult', 'Fiction']"
2,To Kill a Mockingbird,NaN,English,To Kill a Mockingbird #1,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...","Maycomb, Alabama, 1933 (United States) Alabam...",True,"['Classics', 'Fiction', 'Historical', 'Histori..."
3,Pride and Prejudice,NaN,English,NaN,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","England Hertfordshire, England Derbyshire, Eng...",True,"['Classics', 'Fiction', 'Romance']"
4,Twilight,0316015849 (ISBN13: 9780316015844),English,Twilight #1,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks, Washington (United States) Phoenix, Ar...",True,"['Young Adult', 'Fantasy', 'Romance', 'Paranor..."

In [114]:
detail_genre_check.dtypes

Original Title      object
ISBN                object
Edition Language    object
Series              object
Characters          object
setting             object
Literary Awards       bool
Genre               object
dtype: object